<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SW.Properties.Settings.servicesConnectionString" connectionString="Data Source=localhost;Initial Catalog=services;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SW.Properties.Settings.FERRETERIA1ConnectionString"
            connectionString="Data Source=DANIEL;Initial Catalog=FERRETERIA1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>